
    <div class="row">
        
        <div class="col l6 offset-l3 m8 offset-m2 s12 ">
            {{#if error}}
            <p class="alert">{{error}}</p>
            {{/if}}
            <h1>Забыли пароль?</h1>
            <form action="/auth/reset" method="POST">
                <div class="input-field">
                    <input id="email" name="email" type="email" class="validate" required>
                    <label for="email">email</label>
                    <span class="helper-text" data-error="Введите email, указанный при регистрации"></span>
                </div>

                <input name="_csrf" type="hidden" value="{{csrf}}">
            
                <button type="submit" class="btn btn-primary">Сбросить</button>

            </form>
        </div>

    </div>
