<h1 align="center">Shop4U - магазин для тебя!</h1>

<p>"Чтобы продать что-нибудь ненужное, нужно сначала купить что-нибудь ненужное" </p>
<p>&copy; Дядя Фёдор</p>

<hr>

<h5 align="center">Последние добавленные товары - в разработке </h5>

<div class="carousel main-page">
    <img class="carousel-item" src="https://sport-marafon.ru/upload/files/iblock/elements/5d7cfa25-7eb5-11e3-804d-e83935202582/4a09e935-e740-11e3-aca6-e83935202582/4a09e935e74011e3aca6e83935202582_f3dffc1d04f011e980ca901b0e95a2a8.jpg">
    <img class="carousel-item" src="https://www.mothercare.ru/media/catalog/product/cache/5/image/9df78eab33525d08d6e5fb8d27136e95/l/n/lna469_1.jpg">
    <img class="carousel-item" src="https://avatars.mds.yandex.net/get-mpic/1750349/img_id2913186947115280700.jpeg/orig">
   <img class="carousel-item" src="https://cdn1.ozone.ru/s3/multimedia-f/wc1200/6014159643.jpg">
  </div>
  

  